*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;

}
.item {
    color: white;
    height: 150px;
    width: 150px;
    line-height: 150px;
    text-align: center;

}
.item:first-child{
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
}
.item:last-child{
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    
}
.item:nth-child(2){
    background-color: blue;
    border-radius: 50%;
}
